<launch>
    <!--include file="$(find l3xz_mapping)/launch/realsense.launch">
    </include-->
    <include file="$(find l3xz_mapping)/launch/lidar.launch">
    </include>
    <!--include file="$(find l3xz_mapping)/launch/rgb.launch">
    </include>
    <include file="$(find l3xz_mapping)/launch/thermal.launch">
    </include-->
</launch>
