.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#div_road
{
  position: relative;
  grid-column: 1;
  grid-row: 1;
  overflow-x: "scroll";
  overflow-y: "scroll";
}

#canvas_road 
{
  position: relative;
	border: 5px solid red;
}

#div_filter
{
  position: relative;
  grid-column: 1;
  grid-row: 2;
    overflow-x: "scroll";
    overflow-y: "scroll";
}

#canvas_filter 
{
  position: relative;
	border: 5px solid red;
}

#div_global
{
  position: relative;
  grid-column: 2;
  grid-row: 1;
    overflow-x: "scroll";
    overflow-y: "scroll";
}

#canvas_global
{
  position: relative;
	border: 5px solid red;
}

#div_local
{
  position: relative;
  grid-column: 2;
  grid-row: 1;
    overflow-x: "scroll";
    overflow-y: "scroll";
}

#canvas_local 
{
  position: relative;
	border: 5px solid red;
}

